.search-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto 20px;
  position: relative;
}

.search-input-wrapper {
  display: flex;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-input {
  flex: 1;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  outline: none;
  background: white;
  width: 100%;
}

.search-button {
  background: #4ad6ed;
  border: none;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background: #30c1d8;
}

.search-button svg {
  display: block;
}

/* ================================== Suggestion drop down list ================================= */

.suggestions-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
  max-height: 200px;
  overflow-y: auto;
}

.suggestions-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.suggestion-item {
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.suggestion-item:hover {
  background-color: rgba(74, 214, 237, 0.1);
}

.location-name {
  font-weight: 500;
}

.location-name::after{
  content: ", "
}

.location-municipality {
  font-size: 0.85em;
  color: #666;
}

.location-postcode {
  font-weight: 700;
  color: var(--ewblue);
  margin-right: 5px;
}

.location-postcode::after {
  content: " -";
}

.suggestion-item strong {
  font-weight: 700;
  color: var(--ewblue);
  background-color: rgba(74, 214, 237, 0.1);
}