:root {
    --ewblue: #4ad6ed;
    --ewyellow: #ffed00;
    --error: #ff5252;
}

.main {
    padding: 20px;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
}

.logo-container {
    text-align: left;
    margin-bottom: 30px;
}

.app-logo {
    max-width: 300px;
    height: auto;
}
